@use "sass:math";
@mixin random-color($selector) {
    #{$selector}: unquote("hsl(#{math.random() * 360}, 50%, 60%)");
}

@mixin transition($name, $duration) {
    $uid-name: #{$name}#{unique-id()};
    @keyframes #{$uid-name} {
        @content;
    }
    animation-name: $uid-name;
    animation-duration: $duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}
  
@mixin fade-in($duration, $delay, $fillMode) {
    $name: #{"fade-in-"}#{unique-id()};
    @keyframes #{$name} {
        @content;
    }
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-fill-mode: $fillMode;
}