@use "sass:math";
@use "sass:color";

$base__font: garamond, serif;
$base__line-height: 1.6;
$base__border-radius: 5px;
$base__background: #eee;
$base__color: #333;
$navbar-height: 60px;
$body__max-width: 1250px;
// $primary__color: hsl(math.floor(math.random() * 360), 35%, 65%);
$primary__color: hsl(223, 35%, 65%);
$secondary__color: color.adjust($primary__color, $hue: 30deg, $saturation: -20%, $lightness: -30%);
$tertiary__color: color.adjust($primary__color, $hue: -30deg, $saturation: -20%, $lightness: -30%);
$highlight__color: color.adjust($primary__color, $hue: 60deg, $saturation: 40%, $lightness: 30%);
$highlight__color2: color.adjust($primary__color, $hue: -10deg, $saturation: 65%, $lightness: 5%);
$container__margin: 10px;

// Typography
$header1: 40px;
$header2: 32px;
$header3: 28px;
$header4: 24px;
$header5: 20px;
$header6: 16px;

$text1: 14px;
$text2: 12px;
$text3: 10px;
$text4: 8px;

// Breakpoints
$mobile: 480px;
$ipad: 768px;
$laptop: 1025px;
$tv: 1201px;
