@use "sass:color";

body {
    max-width: $body__max-width;
    margin: 0px auto;
    background: #333;
    font-size: 16px;
}

body,
input,
textarea,
button {
    font-family: $base__font;
}

#root {
    width: 100%;
    letter-spacing: 1.5px;
    background: #eee;
    color: #333;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    &:hover {
        text-decoration: none;
        color: #888;
    }
}

textarea,
input {
    // outline: none;
    &:focus {
        box-shadow: 0 0 10px #fff;
        outline-color: $primary__color;
    }
}
