* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html::before {
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  content: "";
}

body {
  max-width: 1250px;
  margin: 0px auto;
  font-size: 16px;
}

body,
input,
textarea,
button {
  font-family: garamond, serif;
}

#root {
  width: 100%;
  letter-spacing: 1.5px;
  background: #eee;
  color: #333;
  opacity: 0;
  animation-name: fade-in-upogiw8;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes fade-in-upogiw8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
  color: #888;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 10px #fff;
  outline-color: #8798c5;
}

.hide {
  display: none;
}

.image__inkscape {
  background-image: url("../images/wings.svg");
  height: 5px;
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  position: fixed;
  max-width: 1250px;
}

.page {
  padding-top: 60px;
  min-height: 100vh;
}

.page__row {
  padding: 1rem 10px;
  text-align: center;
}

.page-row__name {
  text-align: center;
  font-size: 32px;
  padding-top: 7rem;
}

.page-paragraph__wrap {
  padding: 0.5rem 5%;
  font-size: 14px;
}

.page-paragraph__header {
  font-size: 20px;
  padding: 1rem 0px;
}

.page-paragraph__header .page-paragraph__header {
  font-size: 16px;
}

.page__paragraph {
  padding-left: 2%;
  line-height: 1.5rem;
}

.navbar__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 60px;
  transition: top 0.5s;
  max-width: 1250px;
  box-sizing: border-box;
  background: #eee;
}

.navbar__link {
  text-align: center;
  margin: 5px 20px;
}
.navbar__link.active, .navbar__link:hover {
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
}

.navbar__icon {
  padding: 5px 0px;
}

.mobile-menu__wrap {
  display: none;
}

.hamburger__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu__bars {
  text-align: center;
}

.hamburger-menu__bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background: #333;
}

.dropdownClosed {
  display: none;
}

.dropdownOpen {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  box-sizing: border-box;
}

.dropdown__content {
  position: absolute;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  padding: 100px 0px;
  border: 1px solid #ccc;
  border-width: 0px 1px 0px 0px;
  z-index: 3;
  animation-name: slide-menu-upogix4;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}
@keyframes slide-menu-upogix4 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.dropdown__overlay {
  height: 100%;
  width: 100%;
  z-index: 2;
  animation-name: fade-in-upogix8;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  background: none;
}
@keyframes fade-in-upogix8 {
  from {
    background: none;
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 480px) {
  .navbar__wrap {
    justify-content: flex-start;
    width: 100%;
  }

  .mobile-menu__wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .mobile-menu__menu {
    width: 10%;
    margin: 0px 5%;
  }

  .hamburger__text {
    font-size: 14px;
  }

  .navbar__link {
    font-size: 14px;
  }

  .navbar__icon {
    font-size: 32px;
  }
}
.flex__row--space-around {
  display: none;
}

@media (min-width: 480px) {
  .flex__row, .flex__row--space-around {
    display: flex;
    flex-direction: row;
  }
  .flex__row--space-around {
    justify-content: space-around;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.empty-portfolio__wrap {
  width: 80%;
  margin: 0 10%;
}

.empty__portfolio {
  font-size: 12px;
  line-height: 1.7;
  color: #333;
}

.cards__header {
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

.cards-header__link {
  color: #66abff;
  cursor: pointer;
}
.cards-header__link:hover {
  text-decoration: underline;
  color: #66abff;
}

.paragraph__link {
  color: #f6e9fc;
}

.highlight__text {
  color: maroon;
}

@media (min-width: 768px) {
  .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .empty__portfolio {
    font-size: 14px;
    line-height: 2;
  }
}
.cards {
  width: 80%;
  margin-right: 20%;
}

.card__wrap {
  margin: 10px;
  width: 100%;
  border-radius: 5px;
  color: #eee;
  padding: 15px;
  background: #333;
}

.card__row {
  display: flex;
  flex-direction: column;
}
.card__row--row {
  flex-direction: row;
}

.card__row + .card__row:not(:last-child) {
  border-bottom: 1px solid #696284;
}

.card__row--tools {
  font-size: 12px;
}

.card__icon {
  font-size: 40px;
}

.card__icon + .card__icon {
  margin: 5px;
}

.card__title {
  font-size: 16px;
  padding: 5px 0px;
}

.card__languages {
  font-size: 12px;
  margin-bottom: 5px;
  padding: 7px 0px;
}

.card__description {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.6;
}

.card__button {
  font-size: 20px;
  background: transparent;
  border-radius: 2px;
  border: none;
  padding: 0;
  color: #eee;
}

.card__button + .card__button {
  margin-left: 10px;
}

@media (min-width: 480px) {
  .cards {
    width: 90%;
    margin: 0px 5%;
  }
}
@media (min-width: 768px) {
  .cards {
    width: 80%;
    margin: 0px 10%;
  }
}
@media (min-width: 1025px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 90%;
    margin: 0px 5%;
  }

  .card__wrap {
    width: 350px;
  }
}
.sweetalert__title {
  font-family: garamond, serif !important;
  font-weight: normal !important;
}

.sweetalert__content {
  font-size: 20px !important;
  font-family: garamond, serif !important;
  line-height: 1.6 !important;
}

.sweetalert__button {
  outline: none;
  background: #ccc !important;
}
.sweetalert__button:hover {
  background: #b3b3b3 !important;
}

.form__form {
  border-radius: 5px;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.form__body {
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.form__label {
  margin-bottom: 10px;
  font-size: 14px;
}

.form__row, .form__row--email, .form__row--name {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.form__row:first-child, .form__row--email:first-child, .form__row--name:first-child {
  margin-top: 1rem;
}
.form__row + .form__row, .form__row--name + .form__row, .form__row--email + .form__row, .form__row + .form__row--name, .form__row--name + .form__row--name, .form__row--email + .form__row--name, .form__row + .form__row--email, .form__row--name + .form__row--email, .form__row--email + .form__row--email {
  margin-top: 2rem;
}

.form-row__input, .form-row__input--textarea {
  padding: 5px;
  border: none;
  outline-width: 2px;
  border-radius: 5px;
  font-family: monospace;
}
.form-row__input--textarea {
  height: 150px;
  color: #000;
}

.form__button, .sweetalert__button {
  background: #fff;
  color: #333;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  margin-top: 2rem;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 3em;
}
.form__button:hover, .sweetalert__button:hover {
  background: rgba(136, 136, 136, 0.7);
}

@media (min-width: 480px) {
  .form__row.form__row--name, .form__row--name {
    margin-top: 1rem;
    width: 30%;
    min-width: 280px;
    margin-right: 2rem;
  }
  .form__row.form__row--email, .form__row--email {
    margin-top: 1rem;
    width: 60%;
    min-width: 280px;
  }

  .form__group {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.icon__links {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.icon__link {
  margin: 0px 20px;
}

.footer {
  font-size: 8px;
  padding: 1px;
  text-align: center;
  color: rgba(136, 136, 136, 0.5);
  position: fixed;
  bottom: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.citations {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
