.cards {
    width: 80%;
    margin-right: 20%;
}

.card__wrap {
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    color: #eee;
    padding: 15px;
    background: #333;
}

.card__row {
    display: flex;
    flex-direction: column;
    color: #eee;
}

.card__row + .card__row:not(:last-child) {
    border-bottom: 1px solid lighten($secondary__color, 10%);
}

.card__row--tools {
    font-size: $text2;
}

.card__icon {
    font-size: $header1;
}

.card__icon + .card__icon {
    margin: 5px;
}

.card__title {
    font-size: $header6;
    padding: 5px 0px;
}

.card__languages {
    font-size: $text2;
    font-weight: normal;
    margin-bottom: 5px;
    padding: 7px 0px;
}

.card__description {
    margin-bottom: 10px;
    font-size: $text2;
    line-height: $base__line-height;
}

.card__button {
    font-size: $header5;
    background: transparent;
    border-radius: 2px;
    border: none;
    padding: 0;
    color: #eee;
}

.card__button + .card__button {
    margin-left: 10px;
}

@media (min-width: $mobile) {
    .cards {
        width: 90%;
        margin: 0px 5%;
    }
}

@media (min-width: $ipad) {
    .cards {
        width: 80%;
        margin: 0px 10%;
    }
}

@media (min-width: $laptop) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        align-content: flex-start;
        width: 90%;
        margin: 0px 5%;
    }

    .card__wrap {
        width: 350px;
    }
}
