.flex__column {
    display: flex;
    flex-direction: column;
}

.flex-column__content {
    box-sizing: border-box;
    align-items: center;
    padding-top: $navbar-height + 40px;
    animation-name: textFadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100vh;
}

.flex-column-content__name {
    font-weight: bold;
    text-align: center;
    font-size: $header2;
}

.flex-column-content__title {
    padding: 20px 0px;
    text-align: center;
}

.flex-column-content__link {
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    &:hover {
        border-bottom: 2px solid #eee;
        margin-bottom: 8px;
    }
}

.flex__row--space-around {
    display: none;
}

@media (min-width: $mobile) {
    .flex-column__content {
        justify-content: center;
        padding-top: 0px;
    }

    .flex__row {
        display: flex;
        flex-direction: row;
        &--space-around {
            @extend .flex__row;
            justify-content: space-around;
        }
    }
}
