.flex__row--space-around {
    display: none;
}

@media (min-width: $mobile) {
    .flex__row {
        display: flex;
        flex-direction: row;
        &--space-around {
            @extend .flex__row;
            justify-content: space-around;
        }
    }
}
