.form__form {
  border-radius: 5px;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.form__body {
  padding: $navbar-height 5% 0px 5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: $header5;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.form__label {
  margin-bottom: 10px;
  font-size: $text1;
}

.form__row {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  &:first-child {
    margin-top: 0px;
  }
  &--name {
    @extend .form__row;
    width: 30%;
    min-width: 280px;
    margin-right: 20px;
  }
  &--email {
    @extend .form__row;
    width: 60%;
    min-width: 280px;
  }
}

.form__row + .form__row {
  margin-top: 20px;
}

.form-row__input {
  padding: 5px;
  border: none;
  outline-width: 2px;
  border-radius: $base__border-radius;
  font-family: monospace;
  &--textarea {
    @extend .form-row__input;
    height: 150px;
    color: black;
  }
}

.form__button {
  background: #888;
  color: #eee;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: $base__border-radius;
  &:hover {
      background: rgba(#888, 0.7);
  }
}

@media (min-width: $mobile) {
  .form__row:first-child {
    margin-top: 20px;
  }
  .form__group {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
