.image__inkscape {
    position: fixed;
    background-image: url('../images/grass.svg');
    background-position: 0px -5px;
    width: 100%;
    max-width: $body__max-width;
    height: 45px;
    background-repeat: repeat-x;
    background-size: contain;
    z-index: -1;
}