.image__inkscape {
    background-image: url('../images/wings.svg');
    height: 5px;
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    position: fixed;
    max-width: $body__max-width;
}