.navbar__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    height: $navbar-height;
    transition: top 0.5s;
    max-width: 1250px;
    box-sizing: border-box;
    background: $base__background;
}

.navbar__link {
    text-align: center;
    margin: 5px 20px;
    &.active,
    &:hover {
        padding-bottom: 2px;
        margin-bottom: 2px;
        border-bottom: 1px solid #ccc;
    }
}

.navbar__icon {
    padding: 5px 0px;
}

.mobile-menu__wrap {
    display: none;
}

.hamburger__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.hamburger-menu__bars {
    text-align: center;
}

.hamburger-menu__bar {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background: $base__color;
}

.dropdownClosed {
    display: none;
}

.dropdownOpen {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    box-sizing: border-box;
}

.dropdown__content {
    position: absolute;
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    padding: 100px 0px;
    border: 1px solid #ccc;
    border-width: 0px 1px 0px 0px;
    z-index: 3;
    @include transition("slide-menu-", 0.2s) {
        from {
            width: 0;
        }
        to {
            width: 80%;
        }
    }
}

.dropdown__overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    @include fade-in(0.2s, 0s, forwards) {
        from {
            background: none;
        }
        to {
            background: rgba(0, 0, 0, 0.5);
        }
    }
    background: none;
}

@media (max-width: $mobile) {
    .navbar__wrap {
        justify-content: flex-start;
        width: 100%;
    }

    .mobile-menu__wrap {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .mobile-menu__menu {
        width: 10%;
        margin: 0px 5%;
    }

    .hamburger__text {
        font-size: $text1;
    }

    .navbar__link {
        font-size: $text1;
    }

    .navbar__icon {
        font-size: $header2;
    }
}
