.page {
    padding: 10px;
    padding-top: $navbar-height;
    min-height: 100vh;
}

.page__row {
    padding: 1rem 10px;
    text-align: center;
}

.page-row__name {
    text-align: center;
    font-size: $header2;
    padding-top: 7rem;
}

.page-paragraph__wrap {
    padding: 0.5rem 5%;
    font-size: $text1;
}

.page-paragraph__header {
    font-size: $header5;
    padding: 1rem 0px;
}

.page-paragraph__header .page-paragraph__header {
    font-size: $header6;
}

.page__paragraph {
    padding-left: 2%;
    line-height: 1.5rem;
}

.paragraph__link {
    color: $highlight__color;
}

.highlight__text {
    color: maroon;
    &--secondary {
        color: #1041A2;
    }
}
