.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: $navbar-height;
  min-height: 100vh;
}

.portfolio--empty {
    font-size: $text1;
    line-height: 1.5;
    color: gold;
}

@media (max-width: $ipad) {
  .portfolio {
    flex-direction: column;
    justify-content: start;
  }
}
