.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.empty-portfolio__wrap {
    width: 80%;
    margin: 0 10%;
}

.empty__portfolio {
    font-size: $text2;
    line-height: 1.7;
    color: $base__color;
}

.paragraph__link {
    color: $highlight__color;
}

@media (min-width: $ipad) {
    .portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .empty__portfolio {
        font-size: $text1;
        line-height: 2;
    }
}
