.sweetalert__title {
    font-family: $base__font !important;
    font-weight: normal !important;
}

.sweetalert__content {
    font-size: $header5 !important;
    font-family: $base__font !important;
    line-height: $base__line-height !important;
}

.sweetalert__button {
    outline: none;
    @extend .form__button;
    background: #ccc !important;
    &:hover {
        background: darken(#ccc, 10%) !important;
    }
}
